# Python
__pycache__/
.mypy_cache
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Виртуальные окружения
.venv/
venv/
env/
env.bak/
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.envs/
.env/

# Видео и кадры
/videos/
/frames/
/projects/*/video.mp4
/projects/*/frames/

# Модели 
/models/
*.pt
*.pth
*.safetensors
*.bin

# Аннотации и маски 
/ann/
/annotations/
/dataset_yolo/
/projects/*/ann/
/projects/*/dataset_yolo/
/projects

# Логи и временные файлы
*.log
/tmp/
temp/

#Секреты
.env
.env.local
*.secret
secrets.yaml

# Jupyter
.ipynb_checkpoints/
/docker/environments/
/doker/miniconda.sh
